body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.game-title {
  background-color: #3b5999;
  width: 100%;
  text-align: center;
  color: white;
}

.word-display {
  font-size: 30px;
  margin: 30px 0 30px 0;
  font-weight: bold;
  color: #3b5999;
}

.word-input {
  font-size: 20px;
  padding: 10px;
  border: 1px solid grey;
  width: 300px;
}

.game-info {
  display: flex;
  width: 250px;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 30px;
}

.score,
.time {
  font-size: 20px;
  color: #3b5999;
}

.startButton {
  width: 200px;
  height: 35px;
  background-color: #3b5999;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.loading {
  background-color: grey;
  cursor: not-allowed;
}
